In [2]:
import pandas as pd
file_path = 'clustering-tendency.csv'
df = pd.read_csv(file_path, header=None)
df

            0         1         2
0    0.964680  0.351274  0.298323
1    0.585918  0.800970  0.187782
2    0.509113  0.280177  0.208792
3    0.352107  0.665974  0.046316
4    0.363669  0.323479  0.219902
..        ...       ...       ...
995  0.592656  0.516658  0.699137
996  0.083745  0.542244  0.644479
997  0.997039  0.101037  0.305323
998  0.818407  0.608719  0.391878
999  0.151750  0.655265  0.369473

[1000 rows x 3 columns]

In [3]:
df.apply(lambda x : x[0] > 0.75 and x[1] > 0.75 and x[2] > 0.75, axis=1).value_counts(sort=False)

False    1000
Name: count, dtype: int64

In [4]:
from math import floor
def categorize(data_point):
    return (floor(data_point[0] / 0.25)) * 16 + (floor(data_point[1] / 0.25)) * 4 + (floor(data_point[2] / 0.25))



categories_3d =  df.apply(categorize, axis="columns")
categories_3d

0      53
1      44
2      36
3      24
4      20
       ..
995    42
996    10
997    49
998    57
999     9
Length: 1000, dtype: int64

In [5]:
from math import log

rel_prob_3d:pd.Series = categories_3d.value_counts(normalize=True)
test= pd.Series(rel_prob_3d, index=categories_3d.index)


def calc_entropy(probs: pd.Series):
    sum = 0
    for i in range(0, 63):
        value = probs.get(i, default=0)
        if 0 < value < 1:
            sum += (value * log(value) +
                    (1 - value) * log(1 - value))
    return sum * -1


calc_entropy(rel_prob_3d)

4.8075123183976665

In [13]:
import itertools

def calculate_2d(data_point: pd.Series):
    return (floor(data_point.values[0] / 0.125)) * 8 + (floor(data_point.values[1] / 0.125))

for pair in itertools.combinations(df.columns, r=2 ):
    data = df[list(pair)]
    bined_data = data.apply(calculate_2d, axis=1).value_counts(normalize=True)
    print(f"{pair} : {calc_entropy(bined_data)}")

(0, 1) : 4.9775863992866896
(0, 2) : 4.758252517308642
(1, 2) : 4.392500622437077