In [19]:
import pandas as pd

file_path = 'clustering-tendency.csv'
df = pd.read_csv(file_path, header=None)

ranges = 0.25, 0.5, 0.75, 1

df.head()

          0         1         2
0  0.964680  0.351274  0.298323
1  0.585918  0.800970  0.187782
2  0.509113  0.280177  0.208792
3  0.352107  0.665974  0.046316
4  0.363669  0.323479  0.219902

In [21]:
from math import floor
def categorize(data_point):
    return (floor(data_point[0] / 0.25)) * 16 + (floor(data_point[1] / 0.25)) * 4 + (floor(data_point[2] / 0.25))

df=  df.apply(categorize)
df.head()

0    53
1    44
2    36
3    24
4    20
dtype: int64